



body {
  font-family: "Roboto",sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset*/

ul,ol {
list-style-type:none;
margin: 0;
padding: 0;
}
h1, h2, h3, h4, h5, h6, p  {
  margin: 0;
}

a {
  text-decoration: none;
}

/*common*/

.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}
/*header*/
.page header {

  border-bottom: 1px solid #e7e9fc;
}
.header-container {
 display: flex;
 align-items: center;

 }
 .header-nav {

  display: flex;
  align-items: center;
 }
 .cont {
  max-width: 1158px;
  padding: 292px 188px;
  margin: 0 auto;

 }
 .title-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .feature-container {
display: flex;
   max-width: 1440px;
  height: 344px;
  align-items: center;
 }


.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
padding: 24px 0;
margin-right: 76px;
}

.header-logo .logo-part {

  color: #2E2F42
}
.footer-logo .logo-part {
color: #f4f4fd;
}

.nav-list {
display: flex;
align-items: center;
gap: 40px;

}


.nav-link{
  display: block;
  padding: 24px 0;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
color: #404bbf;
}
.contacts {
  font-style: normal;
  margin-left: auto;
  
}
.contacts-list {

display: flex;
align-items: center;
gap: 40px;

}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.page-footer {
background-color: #2e2f42;

}
.text{
font-family: "Roboto", sans-serif;
font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
display: flex;
}
.main {

  background-color: 
  #2e2f42;
}
.post-title {

   padding: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.align {
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.personnel {
  background-color:
  #f4f4fd;
}
.button {
  display: flex;
  margin:auto;
background:  #4d5ae5;
color: #fff; 
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer ;

  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  width: 169px;
  height: 56px;
margin: top 359px; ;

}




.button:hover,
.button:focus {

  background-color: #404bbf ;
}
.feature-list {
display: flex;
gap: 24px;
padding-left: 156px;
padding-right: 156px;
}
.feature-item {
width: calc((100% - 24 * 3) / 4);

}


.features {
  
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.portfolio {
  
  margin-top: 120px;
  margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team {
  
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

}
.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;

}
.our-card {
  max-width: 1440px;
  height: 732px;
  

}


.fase-card {
display: flex;
 gap: 24px;
padding-left: 156px;
padding-right: 156px;
margin-top: 232px;
margin-bottom: 120px;
}
.card {

  background: #fff;
  width: calc((100% - 24 * 3) / 4);
 
}
.back {

  background: #f4f4fd;
}
.merits {

  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.description {

  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.foto {
align-items: center;

}
.portfolio-list {
display: flex;
margin-top: 59px;
flex-wrap: wrap;
  gap: 24px;
  padding-left: 156px;
  padding-right: 156px;

}
.portfolio-our {
  max-width: 1440px;
  height: 1240px;
}
.page-footer {
   
    max-width: 1440px;
    height: 312px;

}

