



body {
  font-family: "Roboto",sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset*/

ul,ol {
list-style-type:none;
margin: 0;
padding: 0;
}
h1, h2, h3, h4, h5, h6, p  {
  margin: 0;
}

a {
  text-decoration: none;
}

/*common*/

.container {
width: 1158px;
padding: 0 15px;
margin: 0 auto;
}
/*header*/
.page-header {

  border-bottom: 1px solid #e7e9fc;
}
.header-container {
 display: flex;
 align-items: center;

 }
 .header-nav {

  display: flex;
  align-items: center;
 }
 .cont {
  

 }
 .big-container {
  display: flex;
  
 }
 .feature-container {
display: flex;
   width: 1440px;
  height: 344px;
  align-items: center;
 }


.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
padding: 24px 0;
margin-right: 76px;
}

.header-logo .logo-part {
;
  color: #2E2F42
}
.footer-logo .logo-part {
  
color: #f4f4fd;
}


.nav-list {
display: flex;
align-items: center;
gap: 40px;

}


.nav-link{
  display: block;
  padding: 24px 0;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
color: #404bbf;
}
.contacts {
  font-style: normal;
  margin-left: auto;
  
}
.contacts-list {

display: flex;
align-items: center;
gap: 40px;

}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.page-footer {
background-color: #2e2f42;

}

.main {

  background-color: 
  #2e2f42;
}
.post-title {
    display: block;
    padding-top: 191px;
    padding-bottom: 289px;

    font-weight: 700;
    font-size: 56px;
    
    
    color: #fff;
}
.align {
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.personnel {
  background-color:
  #f4f4fd;
}
.button {
margin-top: 359px; 

 background:  #4d5ae5;
color: #fff; 
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer ;
 padding-inline: 32px;
 width: 169px;
 height: 56px;
 

}




.button:hover,
.button:focus {

  background-color: #404bbf ;
}
.big-container {
  display: flex ;
  width: 1440px;
  height: 600px;


}


.feature-list {
display: flex;
gap: 24px 48px;
padding-left: 156px;
padding-right: 156px;
}
.feature-item {
width: calc((100% - 24 * 3px) / 4);

}


.features {
  
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.portfolio {
  
  margin-top: 120px;
  margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team {
  
  padding: 120px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

}
.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;

}
.our-card {
  max-width: 1440px;
  height: 732px;
  

}


.fase-card {
display: flex;
 gap: 24px;
padding-left: 156px;
padding-right: 156px;
margin-top: 72px;
margin-bottom: 120px;
}
.card {

  background: #fff;
  width: calc((100% - 24 * 3) / 4);
 
}
.back {

  background: #f4f4fd;
}
.merits {

  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.description {

  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.foto {
align-items: center;

}
.portfolio-list {
display: flex;
margin-top: 59px;
flex-wrap: wrap;
  gap: 24px ;
  padding-left: 156px;
  padding-right: 156px;

}
.portfolio-our {
  width: 1440px;
  height: 1240px;
}
.page-footer {
 
  height: 312px;
   

}

.text {
  padding-top:  140px;
  padding-bottom: 100px;
  padding-left: 156px;
  padding-right: 1020px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

}

 
}
    

}
